.Footer {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.TopFooter {
    display: flex;
    padding: 2vw;
    margin: 0px;
    background-color: #4385ff;
}

.TopFooterSec1 {
    width: 33vw;
    padding-left: 5vw;
}

.FooterSec1Text {
    font-family: Poppins;
    font-size: 18px;
}


.FooterSec1Title {
font-weight: 600;
font-size: 28px;
text-decoration: none;
transition: 0.5s;
font-family: Poppins;
}


.TopFooterSec2 {
    width: 34vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.TopFooterSec2 h4 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
}

.TopFooterSec2 a {
    text-decoration: none;
    color: #fff;
    font-family: Poppins;
    font-weight: 500;

}

.TopFooterSec2 a:hover {
    text-decoration: underline;
}


.TopFooterSec3 {
    width: 33vw;
    font-family: Poppins;
}

.BottomFooter {
    background-color: #1051c9;
    font-family: Poppins;
    padding: 30px;
}