@media only screen and (min-width: 1263px) {

li {
    list-style: none;
    margin: auto;
    padding: 15px;
}

.Logo {
    color: #4385ff;
    font-weight: 600;
    font-size: 28px;
    text-decoration: none;
    transition: 0.5s
}

.Logo:hover {
    color: black;
    transition: 0.5s;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}
.HeaderList {
    display: flex;
    
}

.ListItemA {
    display: block;
}
.MenuItemA {
    padding: 20px;
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.MenuItemA:hover {
    cursor: pointer;
    color: #0943e0;

}

.MenuItemB {
    
    color: white;
    margin: 10px;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s, color 0.5s, background-color 0.5s;
}
  .MenuItemB:hover {
    border-color: #646cff;
    background-color: white;
    color: #1a1a1a;
    transition: 0.5s;
  }
  .MenuItemB:focus,
  .MenuItemB:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .Burger {
    font-size: 24px;
    fill: #fff;
    display: none;
  }
  .HeaderListMobile {
    display: none;
  }

}

@media only screen and (max-width: 1262px) {

    li {
        list-style: none;
        margin: auto;
        padding: 5px;
    }
    
    .Logo {
        color: #4385ff;
        font-weight: 600;
        font-size: 28px;
        text-decoration: none;
        transition: 0.5s
    }
    
    .Logo:hover {
        color: black;
        transition: 0.5s;
    }
    
    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: wrap;
    }
    .HeaderList {
        display: flex;
        
    }
    
    .ListItemA {
        display: block;
    }
    .MenuItemA {
        padding: 20px;
        color: black;
        margin: 10px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
    }
    .MenuItemA:hover {
        cursor: pointer;
        color: #0943e0;
    
    }
    
    .MenuItemB {
        
        color: white;
        margin: 10px;
        text-decoration: none;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        cursor: pointer;
        transition: border-color 0.25s, color 0.5s, background-color 0.5s;
    }
      .MenuItemB:hover {
        border-color: #646cff;
        background-color: white;
        color: #1a1a1a;
        transition: 0.5s;
      }
      .MenuItemB:focus,
      .MenuItemB:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
      }

      .Burger {
        font-size: 24px;
        fill: #fff;
        display: none;
      }
    
      .HeaderListMobile {
        display: none;
      }
    }


    @media only screen and ((max-width: 900px)) {

        li {
            list-style: none;
            margin: auto;
            padding: 5px;
        }
        
        .Logo {
            color: #4385ff;
            font-weight: 600;
            font-size: 28px;
            text-decoration: none;
            transition: 0.5s
        }
        
        .Logo:hover {
            color: black;
            transition: 0.5s;
        }
        
        .Header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            padding-left: 20px;
            padding-right: 20px;
            flex-wrap: wrap;
        }
        .HeaderList {
            display: none;
            
        }
        
        .ListItemA {
            display: block;
        }
        .MenuItemA {
            padding: 20px;
            color: black;
            margin: 10px;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
        }
        .MenuItemA:hover {
            cursor: pointer;
            color: #0943e0;
        
        }
        
        .MenuItemB {
            
            color: white;
            margin: 10px;
            text-decoration: none;
            border-radius: 8px;
            border: 1px solid transparent;
            padding: 0.6em 1.2em;
            font-size: 1em;
            font-weight: 500;
            font-family: inherit;
            background-color: #1a1a1a;
            cursor: pointer;
            transition: border-color 0.25s, color 0.5s, background-color 0.5s;
        }
          .MenuItemB:hover {
            border-color: #646cff;
            background-color: white;
            color: #1a1a1a;
            transition: 0.5s;
          }
          .MenuItemB:focus,
          .MenuItemB:focus-visible {
            outline: 4px auto -webkit-focus-ring-color;
          }

          .Burger {
            display: block;
            font-size: 40px;
            fill: #000000;
            cursor: pointer;
            margin: auto;
          }

          .MobileContact {
            display: flex;
          }
          .HeaderListMobile {
            display: block;
          }
        
        }